.departments{
  
    padding:15px 9%;
    padding-bottom:100px;
}
.departmentcontainer{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
    gap:60px;
}
.grid-item{
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    border-radius:5px;
    background:#fff;
    text-align:center;
    border:1px solid black;
    padding:30px 20px;
    
}
.grid-item h3{
    color:#444;
    font-size:22px;
    padding:10px 0;
}   
.btn{
    margin-top:10px;
    display:inline-block;
    background:#333;
    color:white;
    font-size:17px;
    border-radius:5px;
    padding:8px 25px;
    text-decoration:none;
}
.btn:hover{
    letter-spacing:1px;
}   
.grid-item:hover{
    box-shadow:0 10px 15px rgba(0,0,0,.3);
    transform:scale(1.02);
}

.product-page__quantity-label {
  display: block;
  margin-bottom: 10px;
}

.product-page__quantity-input {
  width: 50px;
}

.product-page__add-to-cart-button {
  background-color: #4caf50;
  color: white;
  border:rounded;
  padding: 10px 20px;
  cursor: pointer;
}

.product-page__add-to-cart-button:hover {
  background-color: #45a049;
}

.product-page__add-to-cart-button:active {
  background-color: #3c903c;
}